body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background-color: #dbdbdb;
    display: flex;
    border-radius: 8px;
}

.header-image {
    margin: 20px 0;
    max-width: 100%;
    height: auto;
    width: 400px;
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin: auto;
}

input[type="text"], button {
    width: 87%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #15BEBB;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #10a19e;
}

.results span {
    font-weight: bold;
}

.results {
    margin-top: 20px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 4px;
}

.results.benign {
    background-color: #d4edda;
    color: #155724;
}

.results.malicious {
    background-color: #f8d7da;
    color: #721c24;
}

footer {
    margin-top: 20px;
    font-size: 0.99em;
    color: #777;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}